In [ ]:
import pandas as pd
import numpy as np

In [ ]:
in_df = pd.read_csv('Dataset/All-seasons.csv')

In [ ]:
in_df.columns = ['season', 'episode', 'character', 'dialogue']

In [ ]:
in_df = in_df[in_df.character.isin(['Stan','Kyle','Cartman'])]

In [ ]:
in_df = in_df.drop_duplicates(subset=['character','dialogue'], ignore_index=True)

In [ ]:
in_df.dialogue = in_df.dialogue.str.strip()

In [ ]:
in_df['label'] = np.select(
    condlist=[
        in_df.character == 'Stan',
        in_df.character == 'Kyle',
        in_df.character == 'Cartman',
        in_df.character == 'Kenny'
    ],
    choicelist=[
        0,1,2,3
    ]
)

In [ ]:
in_df

,season,episode,character,dialogue,label
0,10,1,Stan,"You guys, you guys! Chef is going away.",0
1,10,1,Kyle,Going away? For how long?,1
2,10,1,Stan,Forever.,0
3,10,1,Stan,"Chef said he's been bored, so he joining a gro...",0
4,10,1,Cartman,I'm gonna miss him. I'm gonna miss Chef and I...,2
...,...,...,...,...,...
22823,9,14,Stan,I've had a great teacher.,0
22824,9,14,Stan,"No not you, my karate teacher. He's really smart.",0
22825,9,14,Stan,That's probably okay if you spread it out.,0
22826,9,14,Stan,I think you're pushing it.,0
22827,9,14,Stan,That's not disciprine.,0

In [ ]:
in_df[['dialogue', 'label']].to_csv('Dataset/south_park_raw_ds_t3.csv', index=False)